
Debug/UART.exe

Debug/UART.pdb

Debug/UART.ilk

UART.suo

UART.ncb

UART.suo

UART/Debug/BuildLog.htm

UART/Debug/mt.dep

UART.suo

UART.suo

UART/Debug/stdafx.obj

UART/Debug/UART.exe.embed.manifest

UART/Debug/UART.exe.intermediate.manifest

UART/Debug/UART.exe.embed.manifest.res

UART/Debug/UART.obj

UART/Debug/UART.pch

UART/Debug/vc90.pdb

UART/Debug/vc90.idb

UART/UART.vcproj.Philip-PC.Philip.user
